/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #d8d8d8;
}

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  color: #000;
  background-color: white;
  overflow-x: hidden;
  /* font-family: 'Maitree', serif; */
  font-family: "Libre Franklin", sans-serif;
  margin: 0 !important;
}

/* TITLE CONTAINER */

#title-form {
  background: linear-gradient(rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.74)), url("https://images.unsplash.com/photo-1540921304892-aae50a14c9a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  padding-bottom: 1rem;
  overflow: hidden;
}

.title-container {
  /* line-height: 300px; */
  margin: 0;
  top: 0;
  left: 0;
  padding-left: 2rem;
  /* height: 30rem; */
}

.title-container h1 {
  overflow: hidden;
  font-size: 110px;
  color: black;
  /* position: absolute; */
  bottom: 0;
  display: block;
  align-self: flex-end;
  /* text-align: left; */
  margin: 0px 0px 11px -2px;
  letter-spacing: -3px;
  word-spacing: 1px;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 10rem;
}
.title-container p {
  bottom: 0;
  display: inline-block;
  align-self: flex-end;
  margin: 0 53px 25px 0px;
  font-size: 1.1rem;
  height: 20px;
  letter-spacing: 0.5px;
}

/* TASK FORM */

#task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.MuiInputBase-root-18 {
  margin: 0 1rem;
}
.userTask {
  font-family: "Libre Franklin", sans-serif;
  animation: fade-in-right ease 1s forwards;
}
.delete-button {
  background-color: transparent;
  border: transparent solid 1px;
  color: #adc3b7;
  font-size: 1.07rem;
  font-weight: bolder;
}
.delete-button:hover {
  color: #687c72;
}

/* TASK LIST */

#task-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

li {
  font-size: 1.5rem;
  padding-top: 20px;
  list-style-type: none;
}

#submit-button {
  color: white;
  background-color: #adc3b7;
  display: inline-block;
}
#submit-button:hover {
  background-color: #8da799;
  transition-delay: 0.2s;
}

.userTask {
  font-size: 1.3rem;
  box-shadow: rgba(32, 33, 36, 0.17) 3px 4px 11px;
  border-radius: 8px;
  padding: 19px;
}
.entry-task {
  display: inline;
}
.entry-time {
  display: inline;
  font-weight: bold;
}


/* KEY FRAMES */

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
