
/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --bg-color: #D8D8D8;
}

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  color: #000;
  background-color: white;
  overflow-x: hidden;
  /* font-family: 'Maitree', serif; */
  font-family: "Libre Franklin", sans-serif;
  margin: 0 !important;
}


/* TITLE CONTAINER */

.title-container {
  /* line-height: 300px; */
  margin: 0;
  top: 0;
  left: 0;
  padding-left: 2rem;
  height: 30rem;
  background-color: #adc3b7;
  /* background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1391&q=80"); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-size: cover; */
  position: relative;
  display: flex;
}

.title-container h1 {
  overflow: hidden;
  font-size: 128px;
  color: white;
  position: absolute;
  bottom: 0;
  display: block;
  align-self: flex-end;
  text-align: left;
  margin: 0px 0px 59px -2px;
  letter-spacing: -7px;
  word-spacing: 1px;
  opacity: 0.7;
  font-weight: bolder;
  text-transform: uppercase;
}
.title-container p{
  bottom: 0;
  display: inline-block;
  align-self: flex-end;
  /* margin: 0px; */
  margin: 0 53px 41px 0px;
  font-size: 1.1rem;
  height: 20px;
  letter-spacing: 1.3px;
}


/* TASK FORM */

#task-form {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
}
#form-input-field{
  /* margin-right: 15px; */
}
.userTask{
  font-family: 'Libre Franklin', sans-serif;
}
.delete-button{
  background-color:transparent;
  border: transparent solid 1px; 
  color: #adc3b7;
  font-size: 1.07rem;
  font-weight: bolder
}
.delete-button:hover{
color: #687c72;
}

/* TASK LIST */

#task-container {
  margin: 0 auto;
  display: flex;
}

li {
  font-size: 1.5rem;
  padding-top: 20px;
}

#submit-button {
  color: white;
  background-color: #adc3b7;
  display: inline-block;
}
#submit-button:hover{
background-color: #8da799;
transition-delay: .2s;
}

.userTask {
font-size: 1.3rem;
}
.entry-task {
  display: inline;
  font-weight: bold;
}
.entry-time{
  display: inline;
  font-weight: bold;
}



